.content-body{
    .impressum-header{
        position: absolute;
        z-index: 1;
    }
    .content-image {
        width:100%;
    }
    .content-header-image {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 800px;
        z-index: 0;
        position: relative;
        &.content-header-dwb{
            background-image: url('../../src/img/dwb/doctors-without-borders_480x480.jpg');
        }
        &.content-header-declutter {
            background-image: url('../../src/img/beauty-box/declutter-your-beauty-box_480x480.jpg');
        }
        &.content-header-tips {
            background-image: url('../../src/img/five-tips/5-ways-to-shine_480x480.jpg');
        }
        .content-gradient {
            width: 100%;
            height: 100%;
            background: -webkit-linear-gradient(30deg, #ab3348 0%, rgba(255, 255, 255, 0) 60%);
            background: linear-gradient(30deg, #ab3348 0%, rgba(255, 255, 255, 0) 60%);
        }
        .content-header-text{
            position: absolute;
            bottom: 0;
            color: $white;
            .headline {
                text-transform: none;
                font-weight: 900;
            }
            text-transform: none;
            .text {
                color: $white;
                margin: 0;
            }
        }
    }
}