.content-header {
  width: 100%;
  height: 320px;
  text-align: center;
  background: url('../../src/img/content_header.png') no-repeat;
  background-size: 120% auto;
  background-position: top;

  &.content-header-overlap {
    position: absolute;
    z-index: 2;
  }
}

// Link back to index page
.link_back-home {
  width: 25px;
  position: relative;
  float: left;
  top: 40px;
  left: 40px;
}

.kisstance_logo {
  width: 40%;
  margin-top: 20px;

  /* offset-x | offset-y | blur-radius | color */
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
}

@media only screen and (min-width: 600px) {
  .content-header {
    height: 450px;
  }
}