.flex-container {
  display: flex;
  margin: 2.5em 0;

  .flex-item-image {
    width: 33%;
    min-width: 33%;
    padding-top: 8px; //being on the same line as headline

    img {
      width: 100%;
    }
  }

  .flex-item {
    padding-left: 1.5em;

    .content-title {
      font-size: 1.43em;
      line-height: 1.64em;
      margin: 0;
    }

    a {
      color: $light-pink;
    }
  }
}

.read-article {
  color: $black;
  text-decoration: none;
  background-color: $lightgrey;
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 0.75em 0;
  font-size: 1.5em;
}

@media only screen and (min-width: 600px) {
  .flex-container .flex-item .content-title {
    font-size: 2.6em;
  }
}
