#cookie-notification {
  display: block;
  position: fixed;
  background-color: $black;
  bottom: 0;
  left: 0;
  right: 0;
  color: $white;
  z-index: 3;

  .privacy-policy,
  .text {
    color: $white;
  }
}

#cookie-notification.hide {
  display: none;
}
