/* counter_container with map feat */
.counter_container_map {
  height: auto;
  background-size: auto 125%;

  .counter_numbers {
    position: relative;
    top: auto;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 1.5em;
    display: inline-block;
  }

  .odometer,
  .counter_numbers .euro-sign {
    font-size: 3.6em;
  }

  .counter_map_wrapper {
    position: relative;
    margin: 40% 0 25% 0;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .counter_numbers .counter-hearts {
    width: 105px;
    height: 186px;
    top: -150px;
    bottom: auto;
    right: 0;
  }

  .world-map-wrapper {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
  }

  .earth {
    width: 100%;
    height: auto;
  }

  .kiss {
    position: absolute;
    width: 14px;
    transform: scale(1);

    /* @keyframes duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */
    animation: 2.25s linear 0s infinite normal none running kisses;
  }

  .kiss0 {
    top: 35%;
    left: 11%;
    animation-delay: 1s;
  }

  .kiss1 {
    top: 36%;
    left: 23%;
    animation-delay: 2s;
  }

  .kiss2 {
    top: 78%;
    left: 26%;
    animation-delay: 0s;
  }

  .kiss3 {
    top: 35%;
    left: 45%;
    animation-delay: 1s;
  }

  .kiss4 {
    top: 21%;
    left: 52%;
    animation-delay: 2s;
  }

  .kiss5 {
    top: 33%;
    left: 53%;
    animation-delay: 0s;
  }

  .kiss6 {
    top: 75.5%;
    left: 52.25%;
    animation-delay: 1.5s;
  }

  .kiss7 {
    top: 19%;
    right: 24%;
    animation-delay: 3s;
  }

  .kiss8 {
    top: 30%;
    right: 14%;
    animation-delay: 2s;
  }

  .kiss9 {
    top: 47.5%;
    right: 17%;
    animation-delay: 1s;
  }

  .kiss10 {
    bottom: 16%;
    right: 8%;
    animation-delay: 0s;
  }

  .kiss11 {
    bottom: 35%;
    right: 46%;
    animation-delay: 1.25s;
  }

  .kiss12 {
    top: 35%;
    right: 33%;
    animation-delay: 2s;
  }

  .kiss13 {
    bottom: 22%;
    right: 13%;
    animation-delay: 0s;
  }

  .kiss14 {
    bottom: 33%;
    left: 27%;
    animation-delay: 1s;
  }

  .kiss15 {
    top: 19%;
    left: 11%;
    animation-delay: 0.5s;
  }

  .kiss16 {
    top: 35%;
    right: 24%;
    animation-delay: 1s;
  }

  .kiss17 {
    top: 11%;
    right: 12%;
    animation-delay: 0.75s;
  }

  .kiss18 {
    top: 9%;
    left: 36%;
    animation-delay: 1.25s;
  }
}

@keyframes kisses {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
  }

  50% {
    transform: scale(3);
    opacity: 1;
  }

  100% {
    transform: scale(6);
    opacity: 0;
  }
}
