footer {
    background: $pink;
    color: $white;
    position: fixed;
    bottom: 0;

    width: calc(100%);
    ul{
        padding: 2.500em 0 0;
        li {
            list-style-type: none;
            a {
            color: $white;
            }
        }
    }
    .flex-grid-thirds {
        .col {
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}