#footer {
  background: $pink;
  color: $white;
  position: sticky;
  width: 100%;

  .text {
    color: $white;
  }

  ul {
    padding: 2em 0;

    li {
      list-style-type: none;

      a {
        color: $white;
      }
    }
  }

  .flex-grid-thirds {
    .col {
      .logo {
        width: 95%;
        height: 95%;
        object-fit: cover;
        background-color: white;
      }
    }
  }
}
