#header {
  background-image: url("../../src/img/header_img_text.jpg");
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vw;
  width: 100%;
  max-width: 980px;
  max-height: 980px;
}

/* Alt text for header image */
.header_claim_alt {
  visibility: hidden;
}

.header_img {
  width: 100%;
  text-align: center;
  display: block;
}

.header_dwb {
  display: block;
  text-align: center;
  background-image: url("../../src/img/dwb_bg.png");
  background-position: center 85px;
  background-size: 150vw;
  background-repeat: no-repeat;
  margin: 0 -1.875em -2em -1.875em;
  padding: 0 26px 50px 26px;
}

.header_dwb .logo {
  width: 100%;
  margin: 40px auto 20px auto;
  -webkit-filter: grayscale(1) drop-shadow(-5px 15px 20px rgba(0, 0, 0, 0.1));
  filter: grayscale(1) drop-shadow(-5px 15px 20px rgba(0, 0, 0, 0.1));
}
