#header {
  background-image: url("../../src/img/header_img_text.jpg");
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vw;
  width: 100%;
  max-width: 980px;
  max-height: 980px;
}

/* Alt text for header image */
.header_claim_alt {
  visibility: hidden;
}

.header_img {
  width: 100%;
  text-align: center;
  display: block;
}

.header_dwb {
  display: block;
  text-align: center;
}

.header_dwb .logo {
  padding: 50px;
}
