.impressum-header {
    width: 100%;
    text-align: center;
    img {
        &:nth-child(2){
        position: absolute;
        top: 4%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
        &:first-child {
            width: 100%;
            position: relative;
        }
    }
}
.impressum {
    padding-top: 0;
    font-family: Helvetica, Arial, sans-serif;
    h1{
        font-weight: 500;
        margin:0 0 100px 0;
    }
    h3 {
        text-transform: uppercase;
        font-weight: 300;
        margin-top: 40px;
    }
    ul {
        padding: 0;
        li {
            font-weight: 300;
            list-style-type: none;
        }
    }
    p {
        font-weight: 300;
    }
}