#js-olapic_stream {
  text-align: center;
  background: url('../../src/img/background_UGC.png') center top no-repeat;
  background-size: contain;
}

#olapic-images {
  max-width: 100%;
  padding: 0 1.8em;
}

.olapic_img {
  width: 100%;
  margin-bottom: 1.8em;
}

.olapic_img:last-of-type {
  margin-bottom: 0;
}

.olapic_legend {
  text-align: right;
  display: block;
}

#loadImagesBtn {
  color: $white;
  text-decoration: none;
  background-color: $light-pink;
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 0.75em 0;
  font-size: 1.5em;
}

@media only screen and (min-width: 600px) {
  #js-olapic_stream {
    background-size: cover;
  }

  #olapic-images {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .olapic_img {
    width: 45%;
  }
}
