#js-olapic_stream {
    text-align: center;
    background: url('../../src/img/background_UGC.png') center top no-repeat;
    background-size: contain;
}

.olapic_img {
    width: 60%;
    margin: 2em 1.3em;
}

.olapic_legend {
    text-align: right;
    display: block;
}