@media only screen and (min-width: 320px) {

  /* Small screen, non-retina */

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) { 

  body {color: red !important;}

  .headline {
    font-size: 1.6em !important;
    line-height: 2em !important;
  }

  .sub_headline {
    font-size: 1.2em !important;
    line-height: 1.6em !important;
  }

  .text { 
    font-size: 1em !important;
    line-height: 1.8em !important;
  }
  .slider__info .text { line-height: 1.1em !important; }

}

@media only screen and (min-width: 700px) {

  /* Medium screen, non-retina */
  body {color: blue !important;}

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 700px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (                min-resolution: 192dpi) and (min-width: 700px),
only screen and (                min-resolution: 2dppx)  and (min-width: 700px) { 

  /* Medium screen, retina, stuff to override above media query */
  body {color: white !important;}

  .headline {
    font-size: 4em !important;
    line-height: 2em !important;
  }

  .sub_headline {
    font-size: 2.6em !important;
    line-height: 1.8em !important;
  }

  .text { 
    font-size: 2.6em !important;
    line-height: 2em !important;
  }

  .link_back-home {
    width: 60px !important;
    top: 50px !important;
    left: 70px !important;
  }

  .impressum-header { height: 400px; }

  .odometer { font-size: 4.2em !important; }
  .euro-sign { font-size: 4em !important; }

  .header_dwb .logo { min-height: 250px !important; }

  .slider__info .text {margin-top: 1em !important;  line-height: 1.6em !important; }
}

@media only screen and (min-width: 1300px) {

  /* Large screen, non-retina */
  body {color: fuchsia !important;}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) { 

  /* Large screen, retina, stuff to override above media query */
  body {color: mediumpurple !important;}
}