.glide {
  .glide__slide {
    .text {
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      margin: 0;
      padding: 10px;
    }

    .slider-image {
      width: 100%;
      object-fit: cover;
    }

    .slider__title--wrap {
      position: relative;
    }

    .slider__title {
      background-image: url('../../src/img/lipstick-background.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      position: absolute;
      top: -50px;
      z-index: 100;
      text-align: center;
    }
  }

  .glide__post {
    background-color: #eb9240;

    .slider__info {
      background-image: url('../../src/img/camera.png');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .glide__tag {
    background-color: #d19891;

    .slider__info {
      background-image: url('../../src/img/notes.png');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .glide__location {
    background-color: #c66e98;

    .slider__info {
      background-image: url('../../src/img/location.png');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .slider__info {
    padding: 60px 20px;

    .text {
      font-size: 24px;
      line-height: 31px;
      padding: 0;
      font-weight: 200;
    }
  }

  > .container {
    padding: 0;
  }
}

.arrow {
  position: absolute;
  display: block;
  top: 25%;
  z-index: 2;
  color: white;
  padding: 9px 12px;
  background-color: transparent;
  opacity: 1;
  border: none;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;

  &.glide__arrow--left {
    transform: scaleX(-1);
    top: 22%;
    left: 1em;
  }

  &.glide__arrow--right {
    right: 1em;
  }
}

.glide__bullets.custom__bullets {
  .glide__bullet {
    border-radius: 0;
    width: 22px;
    height: 6px;
  }
}

@media only screen and (min-width: 600px) {
    .glide .slider__info {
      padding: 80px 20px;
  }
}