// General
@import "./grid";
@import "./variables";

// Components
@import "./footer";
@import "./header";
@import "./olapic_ugc";

// Pages
@import "./imprint";

body {
  font-family: "lato", sans-serif;
  font-size: 14px;
  line-height: 1.8em;
}

.headline {
  font-size: 2.2em;
  line-height: 2.6em;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 auto;
}

.headline_background {
    background: url('../../src/img/bg_headline.svg') center no-repeat;
    background-size: contain;
    margin: 0 auto;
    color: #fff;
    text-align: center;
} 

.sub_headline {
  font-size: 2em;
  line-height: 2.4em;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 auto;
}

.text,
.link,
.link:active,
.link:focus,
.link:visited,
.link:hover {
  font-weight: 400;
  color: #000;
}

.text {
  font-size: 1.8em;
  line-height: 2em;
}
