// General
@import "./grid";
@import "./variables";

// Components
@import "./cookie";
@import "./content-hub";
@import "./counter";
@import "./content-hub-homepage";
@import "./content-header";
@import "./footer";
@import "./header";
@import "./olapic_ugc";
@import "./slider";

// Pages
@import "./imprint";

// Optimisation
@import "./retina";

body {
  font-family: "lato", sans-serif;
  font-size: 14px;
  line-height: 1.8em;
}

.container_body {
  max-width: 980px;
  min-width: 320px;
  margin: 0 auto;
}

.headline {
  font-size: 2.2em;
  line-height: 2.6em;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 auto;
}

.headline_background {
  background: url('../../src/img/bg_headline.svg') center no-repeat;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  background-size: contain;

  &.headline-red {
    background: url('../../src/img/red-headline.png') center no-repeat;
    background-size: cover;
    padding: 1em 0;
  }
}

.sub_headline {
  font-size: 2em;
  line-height: 2.4em;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 auto;
}

.text,
.link,
.link:active,
.link:focus,
.link:visited,
.link:hover {
  font-weight: 400;
  color: #000;
}

.text {
  font-size: 1.8em;
  line-height: 2em;
}

.content-headline {
  font-weight: 900;
  font-size: 2.8em;
  padding: 2.222em 0 1.667em 0;
}

.top-headline {
  font-weight: 900;
}

.button-pink {
  color: $white;
  text-decoration: none;
  background-color: $light-pink;
  max-width: 26em;
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 0.75em 0;
  margin: 2em 0 4em 0;

  &.accept-cookie {
    margin: 1em auto;
  }
}
